* {
  box-sizing: border-box;
}
body {
  display: block;
  padding: 0%;
  margin: 0%;
}
.header {
  display: flex;
  justify-content: end;
  position: relative;
}
.inner-header {
  position: absolute;
  z-index: 1;
  margin-right: 100px;
}
.navbar {
  margin-top: 80px;
  width: 100%;
}
.nav {
  padding: 10px;
}
a {
  color: rgb(253, 238, 238);
}
nav a:hover{
  background-color: transparent;
  color: red;
}
#logo {
  position: absolute;
  top: 12%;
  left: 7%;
  width: auto;
  height: auto;
  cursor: pointer;
}
.name {
  position: absolute;
  color: white;
  left: 10%;
  font-size: 0.9cm;
  font-family: sans-serif;
  opacity: 60%;
}
.middle-header {
  display: flex;
  position: relative;
  align-items: center;
  height: 410px;
  overflow: hidden;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  margin: 0%;
  padding: 0%;
}
.image {
  width: 497px;
  background-color: black;
}
h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 200;
  padding: 8% 25% 8% 25%;
}
.footer{
  display: flex;
  flex-direction: column;
  height: 450px;
  background-color: #161f1e;
  align-items: center;
  justify-content: space-around;

}
.inner-footer {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 1200px;
  justify-content: space-between;
  align-items: center;

}
.footer-data {
  display: flex;
  height: 160px;
  width: 40px;
  align-items: start;
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 100px;
  height: 190px;
}
.footor-info {
  display: flex;
  flex-direction: column; 
  gap: 20px;
}
.getintouch {
  margin-bottom: 10px;
  text-transform: uppercase;
  width: 100%;
  color: hsla(0, 0%, 100%, .75);
}
